.body{
display: flex;
position:fixed ;
height: 100%;
width: 100%;
background-color: rgb(189, 118, 118);
}

.storyboard{
display: flex;
position:fixed ;
height: 45%;
width: 45%;
background-color: rgb(28, 56, 90);
left: 27%;
top:10%;
}

.storytextbox{
display: flex;
position:absolute ;
height: 95%;
width: 95%;
background-color: rgb(87, 37, 37);
left: 2.5%;
top:2.5%;

font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.choicebox{
display: flex;
position:fixed ;
height: 25%;
width: 45%;
background-color: rgb(128, 13, 124);
left: 27%;
top:56%;


font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.choice1{
display: flex;
position:absolute ;
height: 15%;
width: 95%;
background-color: rgb(197, 10, 10);
left:2%;
top: 10%;


font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

.choice2{
display: flex;
position:absolute ;
height: 15%;
width: 95%;
background-color: rgb(114, 167, 8);
left:2%;
top:30%;


font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

.choice3{
display: flex;
position:absolute ;
height: 15%;
width: 95%;
background-color: rgb(189, 136, 136);
left:2%;
top:50%;


font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

.choice4{
display: flex;
position:absolute ;
height: 15%;
width: 95%;
background-color: rgb(18, 156, 184);
left:2%;
top:70%;


font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}


.playerstats{
 display: flex;
 position:fixed ;
 height: 71%;
 width: 25%;
 background-color: rgb(66, 17, 106);
 left: 1%;
 top:10%;
}

.statstitle{
     display: flex;
 position:absolute ;
 height: 10%;
 width: 30%;
 background-color: rgb(163, 14, 63);
 left: 35%;
 top:5%;

 font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 40px;
}

.attackstat{
     display: flex;
 position:absolute ;
 height: 7%;
 width: 30%;
 background-color: rgb(163, 14, 63);
 left: 5%;
 top:25%;

 font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.defensestat{
     display: flex;
 position:absolute ;
 height: 7%;
 width: 30%;
 background-color: rgb(163, 14, 63);
 left: 5%;
 top:35%;

 font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.magicstat{
      display: flex;
 position:absolute ;
 height: 7%;
 width: 30%;
 background-color: rgb(163, 14, 63);
 left: 5%;
 top:45%;

 font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.healthstat{
      display: flex;
 position:absolute ;
 height: 7%;
 width: 30%;
 background-color: rgb(163, 14, 63);
 left: 5%;
 top:55%;

 font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.goldstat{
      display: flex;
 position:absolute ;
 height: 7%;
 width: 30%;
 background-color: rgb(163, 14, 63);
 left: 5%;
 top:65%;

 font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.inventory{
      display: flex;
 position:absolute ;
 height: 25%;
 width: 25%;
 background-color: rgb(163, 14, 63);
 left: 73%;
 top:55%;

 font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.inventorytitle{
     display: flex;
 position:absolute ;
 height: 20%;
 width: 30%;
 background-color: rgb(14, 29, 163);
 left: 35%;
 top:5%;

 font-family: "Berkshire Swash", serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
}

.slot1{
    top:30%;
    display: flex;
    position: absolute;
    width:10%;
    height: 20%;
    background-color: aqua;
    left: 5%;
}